@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Full screen background */
body {
    height: 100vh;
    background: url('gigity webie.png') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Remove default link styling */
a {
    text-decoration: none;
    color: #06361e;
}

/* Login Box */
.login-box {
    width: 420px;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid #06361e;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 40px 35px;
    color: #fff;
}

/* Login Title */
.login-box h1 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 25px;
}

/* Input Fields */
.login-box .input-box {
    margin: 20px 0;
}

.login-box .input-box input {
    width: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.3);
    outline: none;
    border-radius: 40px;
    padding: 12px 20px;
    font-size: 15px;
    color: #fff;
}

.login-box .input-box input::placeholder {
    color: #ddd;
}

/* Button */
.btn {
    width: 100%;
    padding: 12px;
    background: #fff;
    border: none;
    border-radius: 40px;
    font-size: 16px;
    color: #06361e;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn:hover {
    background: #e6e6e6;
}

/* Register Link */
.login-box .register-link {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: #06361e
}

.login-box .register-link a {
    font-weight: 600;
    margin-left: 5px;
    color: #06361e
}